* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quiz {
  height: 100vh;
}
/* 
.next-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-btn-container button {
  width: 40%;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
} */

.response-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50% 50%;
  grid-gap: 10px; 
  padding-top: 15px;
  padding: 45px;
}

.selected {
  border: 5px solid yellow !important;
  border-radius: 5px;
}

.reponse-card {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.response-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
