@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'arimo-regular';
  src: URL('./fonts/arimo/Arimo-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quiz-title-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-title-container button {
  margin-top: 15px;
  padding: 30px;
  /* border-radius: 25px; */
  font-family: 'arimo-regular';
  font-size: 25px;
  background-color: darkgreen;
}

.quiz-title-container button:hover {
  background-color: green;
}

.quiz-title {
  background-color: cadetblue;
  width: 100%;
  padding: 45px;
  font-family: 'roboto-bold';
  font-size: 45px;
}

.quiz {
  height: 100vh;
}

.next-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3;
}

#back-btn {
  width: 17%;
}

#next-btn {
  width: 17%;
  margin:0 10px;
  background-color: darkgreen;
}

#next-btn:hover {
  background-color: green;
}

#reset-btn {
  margin-bottom: 25px;
}

.question-container {
  margin: 0 45px;
  background-color: bisque;
  font-family: 'roboto-medium';
  font-size: 25px;
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.question-container div {
  height: fit-content;
  width: fit-content;
}

.response-container {
  height: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 45% 45% 10%;
  grid-gap: 10px; 
  padding-top: 15px;
  padding: 45px;
}

.result-container {
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 45px;
}

.selected {
  border: 5px solid yellow !important;
  border-radius: 5px;
}

.result-card {
  padding: 5px;
}

.reponse-card {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.result-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.response-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.result-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
